:root {
    --primary-color: darkblue;
    --secondary-color: steelblue;
    --accent1-color: #eee;
    --accent2-color: #333;
    --border-color: rgb(0 0 0 / 0.2);
    --shadow-color: gray;

    --heading-font: Arial, Helvetica, sans-serif;
    --paragraph-font: Arial, Helvetica, sans-serif;

    --nav-background-color: darkblue;
    --nav-link-color: white;
    --nav-padding: 10px;
    --link-padding: 20px;
}

nav {
    background-color: var(--nav-background-color);
    padding: var(--nav-padding);
}

nav a {
    color: var(--nav-link-color);
    display: block;
    padding: var(--link-padding);
}

h1 {
    color: var(--primary-color);
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--secondary-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid var(--border-color);
    padding: 1rem;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}